@font-face {
    font-family: 'montserrat';
    src: url('../ fonts/montserrat/regular/montserrat-regular.eot');
    src: url('../fonts/montserrat/regular/montserrat-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/regular/montserrat-regular.woff2') format('woff2'),
        url('../fonts/montserrat/regular/montserrat-regular.woff') format('woff'),
        url('../fonts/montserrat/regular/montserrat-regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/montserrat-light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: montserratUL;
    src: url(../fonts/montserrat/Montserrat-UltraLight.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway/Raleway-Regular.eot?") format("eot"),
        url("../fonts/Raleway/Raleway-Regular.woff") format("woff"),
        url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway/Raleway-Regular.svg#Raleway") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway/Raleway-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway/Raleway-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway/Raleway-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}
